{% extends 'main.html' %}

{% block content %}

<h1>Hello World!</h1>

<div>

    <a href="{% url 'create-room' %}">Create Room</a>

    {% for room in rooms %}
    <div>
        <a href="{% url 'update-room' room.id %}">Edit</a>
        {% comment %} To Do - Delete {% endcomment %}
        <a href="">Delete</a>
        <span>@{{room.host.username}}</span>
        <p><a href="{% url 'room' room.id %}">{{room.name}}</a></p>
        <small>{{room.topic}}</small>
        <hr>
    </div>    
    {% endfor %}
</div>
{% endblock %}